{% extends 'base.html' %}

{% block content %}
<h1>Обо мне</h1>

{% if about %}
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="{{ about.photo.url }}" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <p>{{ about.bio }}</p>

            <p>
                <strong>Школа:</strong> {{ about.school }}
            </p>

            <p>
                <a href="{{ about.github }}" target="_blank" class="btn btn-dark">
                    GitHub
                </a>
            </p>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        Информация «Обо мне» ещё не заполнена
    </div>
{% endif %}

{% endblock %}
